.container-inner{
   
}
.tc{
    padding: 10px ;
}
.container-inner_left{
    margin-right: 10px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 0 10px 40px;

}
.container-inner_left_item{
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 7px;
}
.inner_left_item_title{
    text-transform: uppercase;
    line-height: 100%;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;   
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
.inner_left_item-text{
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    font-family: nunito-sans, sans-serif, Helvetica, Arial;
}
.inner_left_item_category{
    margin: 0;
}
.inner_left_item-category-VN{
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #f7921f;
    font-family: sans-serif;
    margin: 10px 0 0 10px;
}
ul{
    padding: 0;
    margin: 0;
}
.inner_left_item-category-item{
    line-height: 22px;
    margin: 0 0 7px 10px;
    text-align: left;
    width: 100%;
    
}
.inner_left_item-category-list{
    padding-left: 10px;
    height: 110px;
    overflow: hidden;
    
    
}
.height{ 
    height:auto;
}
.btn-category{
    display: block;
    margin: 20px auto 0;
    color: #F7941E;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    border: none;
    background: #fff;
    

}
.btn-category-dow{
    display: none;
    margin: 20px auto 0;
    color: #F7941E;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    border: none;
    background: #fff;
}
.show{
    display: block;
}

.container-innert{
    flex-wrap: nowrap;
}
.item-inner{
    width: 24%;
}
.container-inner_right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.no-gutters{ flex-wrap: nowrap;}