.main_login{
    background-color: #fff;
    width: 450px;
    max-width: calc(100vw - 20px);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;;
    transition: all 500ms ease-in 0s;
    -webkit-transition: all 500ms ease-in 0s;
    -moz-transition: all 500ms ease-in 0s;
    -ms-transition: all 500ms ease-in 0s;
    -o-transition: all 500ms ease-in 0s;
    margin: 0 auto;
}

.bg_whrite{
    padding-top: 10px;
}
.bgr{
    background-color: #fff !important;
}
