

.header{
    height: 126px;
    
}

.header__img{
    background-color: #b1dd9e;
}

.header__img-top{

    width: 100%;
    height:58px;
    
}
.header__navbar-list{
 display:flex;
 height: 68px;
 justify-content: center;
 align-items: center;
 margin-top: -2px;
}

.header__navbar-item-menu{
    width: 99px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 14px;
}

.header__navbar-item-icon-menu{
    color: #7a7e7f;
}


.header__navbar-item-search{
    flex: 1;
    height:40px;
    border-radius: 10px;
    margin: 5px 8px 0;
    display: flex;
    border: 1px solid #d9dbdb;
    position: relative;

}
/* header search */
.header__search{
    flex: 1;
    display: flex;
    height: 100%;
    border-radius:20px ;
    width:600px;
    padding: 10px 0px 10px 0;
    margin-left: 10px;

}

.header__input-search::placeholder{
    color: #d0d2d2;
}


.header__input-search{
    flex: 1;
    height: 100%;
    font-size: 1.4rem;
    padding:0 16px;
    border-radius: 20px;
    outline: none;
    border: none;
 

}

.header__search-btn{
    background-color: #C92127;
    border: #C92127;
    color: #fff;
    width:68px;
    border-radius:10px;
    margin: 3px 3px 3px;
    font-size: 1.5rem;
    font-weight:100;
}

.header__navbar-item{
    width: 320px;
    padding-left:24px ;
    display: flex;
    text-align: center;
    line-height: 21px;
    margin-top: 9px;
}
/* end header search */
/* icon bell */

.header__navbar-item-bell,
.header__navbar-item-cart,
.header__navbar-item-user{
    font-size:12px;
    color: #7a7e7f;
    padding-right: 20px;
    cursor: pointer;
    
}
.header__navbar-item-icon-bell,
.header__navbar-item-icon-cart,
.header__navbar-item-icon-user{
    color: #7a7e7f;
    font-size:19px;
}

.header__navbar-item-bell{
    position: relative;
}

.header__navbar-item-bell:hover .header__navbar-list-bell{
    display: block;
    display: flex;
    flex-direction: column;
}

.header__navbar-item-user{
    position: relative;

}

.header__navbar-item-cart{
    line-height: 19px;
}

.header__navbar-item-icon-cart{
    font-weight: 700;
}
/* list bell */

.header__list-tbao{
    margin: 0;
    text-align: left;
    color: var(--black-color);
}

.header__list-tbao-img{

}

.header__list-tbao-msg{
    font-size: 1.8rem;
    margin: 20px 20px 0 20px;
    color: var(--black-color);
    
    
}

.header__list-login{
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #C92127;
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__list-resginter{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    background-color: var(--white-color);
    border: 2px solid #C92127;
    
}


.header__navbar-list-bell{
    position: absolute;
    top:120%;
    right: 0;
    background-color: #fff;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 3px #333;
    border-radius: 8px;
    display: none;
    z-index: 1000;

}

.header__navbar-list-bell::after{
  
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height:20px;
    left: 0;
    top: -20px;
    z-index: 1000;
}

/* end bell */
/*list user */

.header__navbar-item-user:hover .header__navbar-list-user{
    display: block;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.header__navbar-list-user{
    position: absolute;
    top: 120%;
    right: 17px;
    background-color: #fff;
    width: 258px;
    display: flex;
    flex-direction: column;
    padding: 16px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
    display: none;

}

.header__navbar-list-user .btn:hover{
    font-size: 1.5rem;
    font-weight: 600;

}

.header__navbar-list-user::after{
  
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    height:20px;
    right: 0;
    top: -20px;
}

.header__list-item-register{   
    background-color: #C92127;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 10px;
    
}

.header__list-item-login{
    background-color: #fff;
    font-size: 1.4rem;
    color: #C92127;
    font-weight: 600;
    border: 2px solid #C92127;
    margin-bottom: 10px;

}

.header__list-item-fb{
    background-color: #1b74e4;
    font-size: 1.3rem;
    color:var(--white-color);
    font-weight: 600;
}

.header__list-item-icon-fb{
    margin-right:15px;
    font-size: 1.7rem;
}
/* end user */
/* language */

.header__item-language{
    display: inline-flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 8px;
    border-radius: 10px; 
    margin-bottom: 7px;
    border: 1px solid; 
}

.header__navbar-item-language{
    position: relative;
 
}

.header__navbar-item-icon-language{
    padding-left: 8px;
    padding-right: 6px;
}

.header__item-language:focus ~ .header__list-language{
    display: block;
}

.header__list-language{
  position: absolute;
  top: 115%;
  left: -37px;
  width:100px;
  background-color: var(--white-color);
  box-shadow: 0 0 2px #7a7e7f;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  align-items: center;
  display: none;
}
.language-btn-vn{
    color: #7a7e7f;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: none;
    padding: 6px 10px 6px 6px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;

}
.language-btn-vn:hover,
.language-btn-en:hover{
    background-color: #d9dbdb;
    
}

.header__list-language-VN{
    width: 37px;
    margin-right: 10px;
}

.language-btn-en{
    color: #7a7e7f;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: none;
    padding: 6px 10px 6px 6px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;


}

.header__list-language-EN{
    margin-right: 10px;

}
/* end language */







/* form login */

.auth-form{
    Width:470PX;
    background-color: #fff;
    
    border-radius: 10px;
    overflow: hidden;
  
    
    
    }
    
    .auth-form__container{
        padding: 0 32px;
    
    }
    
    .auth-form__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3rem;
        font-weight: 400;
        width: 200px;
        width: 100%;
        text-align: center;
        padding: 20px;
    }
.auth-form__header a{
    text-decoration: none;
    color: #333;

}
.auth-form__heading-login,
.auth-form__heading-register{
    width: 50%;
}
    
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__from{
}

.auth-from__input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #d0d2d2;
    border-radius: 2px;

}


.auth-from__input::placeholder{
    color: #d0d2d2;
}

.auth-from__input:focus{
    border-color: #2f86eb ;
    outline:6px#2f86eb;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-from__policy-text{
    font-size: 1.2rem;
    line-height:1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-from-policy-link{
    color:#4aa0f3;
    text-decoration: none;
}

.auth-from-policy-link:hover{
    color: var(--primary-color);
}

.auth-from__coltrol{
    display: flex;
    flex-direction: column;
    margin: 24px 86px;
}

.auth-from__coltrol-login,
.auth-from__coltrol-back,
.auth-from__coltrol-fb{
    margin-top: 10px;
    font-weight: 600;
}

.auth-from__coltrol-back{
    background-color: var(--white-color);
    border: 1px solid #d84e43;
    color: #d84e43;
}

.auth-from__coltrol-fb{
    background-color:  #2f86eb;
    color: #fff;
}

.auth-from__coltrol-back{
}

.auth-from__social{
    background-color:#f5f5f5;
    padding: 12px 36px;
    margin-top:24px;
}

.auth-form__group{
    margin-top: 16px;

}

.molal__label{
    font-size: 1.2rem;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #d84e43;
    
}

hr{
    width: 172px;
    color: #C92126;
    height: 1px;
}

.auth-form__heading-login:hover hr{
    animation: run .6s linear;

}

.auth-form__heading-register:hover hr{
    animation: run .6s linear;


}


.auth-form__heading-register:active hr,
.auth-form__heading-login:active hr{
    animation: run 1s linear;

}

.auth-form__heading-register:hover,
.auth-form__heading-login:hover{
    color: #d84e43;
}








.auth-from__input-register{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #d0d2d2;
    border-radius: 2px;
    background-color: #f2f2f2;;
}

.auth-from__input-register::placeholder{
    color: #d0d2d2;
}


.header__search-history{
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 3px #7a7e7f;
    display: none;
    z-index: 1000;

}

.header__search-history-list{
    margin: 15px;

}

.header__history-heading{
    width: 100%;
    padding: 10px 16px;
    background-color: rgb(138, 164, 126);
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

.header__history-heading-text{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: #f2f2f2;
}

.header__history-heading-end{
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.header__history-heading-end-icon{
    font-size: 1.5rem;
    font-weight: 700;

}

.header__history-heading-end-icon i{
   padding-right: 5px;
}

.header__history-heading-end-text{
    font-size: 1.3rem;
    color: #d84e43;
}

.header__history-center-hot{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.header__history-center-hot-text{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header__history-center-hot-text i{
    padding-right: 5px;

}

.header__history-center-hot-icon{
    font-size: 1.3rem;
    color: #d0d2d2;
}


.header__history-center{
    width: 100%;
    margin-top: 10px;
   padding-bottom: 20px;
    border-bottom: 1px solid #d0d2d2;

}

.header__history-center-heading{

}

.header__history-center-list{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4px 5px;

}

.header__history-center-item{
    display: flex;
    width: calc(100% / 3.1);
    margin-top: 10px;
    
}

.header__history-center-item:hover{
    box-shadow: 0 0 3px #d0d2d2;
}

.header__history-center-img{
    width: 47px;
}

.header__history-center-text{
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    color: #7A7E7F;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__history-center-hot-text-img{
    width: 20px;
    margin-right: 5px;
}

.header__history-center-same-sp{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.header__history-end-list{
    display: flex;
    grid-gap: 16px;

}

.header__history-end-item{
    width: calc(100% / 4);
    margin-top: 10px;
    text-align: center;

    
}


.header__history-end-img{
    width: 56px;
}

.header__history-end-text{
    font-size: 1.3rem;
    color: #7A7E7F;
}

.header__input-search:focus ~ .header__search-history{
    display: block;
}


/* CONTENT */


.content{
    background-color: #f0f0f0;
}

.content_list-manga{
    list-style: none;
    padding:6px 0;
    display: flex;
    margin: 0;
    
}

.content_item-manga{
    font-size: 1.2rem;
    color: #262626;
    font-weight: 400;
    padding: 5px 0;
}

.content_item-manga i{
    margin: 0 5px;
    font-size: .8rem;
    color: #999;
}

.content-sp{
    background-color: var(--white-color);
    padding: 16px;
    display: flex;

}

.content-sp-product{
    display: flex;
}

.content-sp-product-list-small{
    list-style: none;
    width: 78px;
    padding: 0;

}


.content-sp-product-small-img img:hover{
    border: 1px solid #2f86eb;
    border-radius: 4px;
    height: calc(100% + 8px);

}

.content-sp-img{
    width: 484px;
}

.content-sp-product-small-img img{
    max-width: 100%;
    max-height: 100%;
}

.content-sp-produc-big{
    width: 400px;
    height: 400px;
}

.content-sp-product-big-img{
    max-height: 392px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.content_sp-buy{
    display: flex;
    height: 44px;
    margin-top: 24px;
}

.content_bag-btn-buy{
    border: 1px solid #C92127;;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.content_bag-btn-buy a{
    text-decoration: none;
    color: #C92127;;
    font-size: 1.5rem;
    font-weight: 700;
}

.content_btn-more{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C92127;;
    margin-left: 10px;
    border-radius: 20px;

}

.content_btn-more a{
    border-radius: 20px;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
}

.content_sp-info{
    width: calc(100% - 484px);
    padding-left: 36px;
}

.content_sp-info-heading{
    font-weight: 500;
}

.content_sp-info-way{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

.content_sp-info-origin{
    width: 60%;
}

.content_sp-info-origin-ncc span{
    color: #2489F4;
    font-weight: 600;
}

.content_sp-info-origin-nxb span{
    font-weight: 600;
}

.content_sp-info-origin-set span{
    color: #2489F4;
    font-weight: 600;
}

.content_sp-info-make{
    
    width: 40%;
}

.content_sp-info-author{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.content_sp-info-author span{
    font-weight: 600;
    height: 2.4rem;


}

.content_sp-info-material span{
    font-weight: 600;

}

.content_sp-item-star{
    color: #e3e5e5;
    font-size: 1.4rem;
    margin-top: 10px;
}
.content_sp-item-text-sl{
    color: #F7941E;
}

.content_sp-price{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.content_sp-price-current{
    font-size: 3.2rem;
    font-weight: 600;
    margin-right: 14px;
    color: #C92127;
}

.content_sp-price-old{
    font-size: 1.6rem;
    margin-right: 14px;
    text-decoration: line-through;
    color: #999;
}

.content_sp-price-sale{
    background-color: #C92127;
    color: white;
    font-size: 1.5rem;
    padding: 4px;
    font-weight: 600;
    border-radius: 3px;
}

.content_sp-price-flex{
    display: flex;
    justify-content: space-between;
}

.content_sp-share{
    font-size: 2rem;
    color: #C92127;
    display: flex;
    align-items: center;
}

.content_sp-share ion-icon{
    box-shadow: 0 0 3px #7a7e7f;
    background-color: var(--white-color);
    padding: 6px;
    border-radius: 17px;
}

.content_sp-policy{
    display: flex;
    font-size: 1.4rem;
}

.content_sp-policy-tile{
    max-width: 200px;
    min-width: 150px;
}

.content_sp-policy-text{

}

.content_sp-policy-more{
    margin-left: 20px;
    color: #2489F4;
    font-weight: 600;
}

.content_sp-buy-sl{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.content_sp-buy-sl-title{
    font-size: 1.7rem;
    font-weight: 700;
    color: #7A7E7F;
    margin-right: 70px;

}

.content_sp-buy-sl-more{
    display: flex;
    font-size: 1.8rem;
    border: 1px solid #c1c1c1;
    padding: 7px;
    align-items: center;
    border-radius: 4px;
    opacity:1;
    display:-ms-inline-flexbox;
    white-space:nowrap;
    vertical-align:top;
}

.content_sp-buy-sl-put{
    color: #9fa7ab;

}

.content_sp-buy-sl-number input{
    border: none;
    text-align: center;
    outline: none;
}

.content_sp-buy-sl-put{
    color: #9fa7ab;
}

.content_sale-same{
    background-color: var(--white-color);
    margin-top: 15px;
    padding: 15px;
}

.content_sale-same-heading{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 550;
    font-size: 16px;
}
.content_sale-same-heading ion-icon{
    transform: rotate(45deg);
    font-size: 4.5rem;
    color: #C92127;
}

.content_sale-code{
    display: flex;
    margin: 20px 0 22px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #CDCFD0;
}


.content_sale-code-all,
.content_sale-code-discount,
.content_sale-code-buy{
    margin-right: 40px;
    font-size: 1.4rem;
    color: #646464;
}

.content_sale-code-all{
    color: #C92127;
    font-weight: 600;
}

.content_sale-code-discount:hover,
.content_sale-code-buy:hover{
    color: #C92127;
    font-weight: 600;
}

.content_sale-list-ticket{
    display: flex;
    
}

.content_sale-ticket-mgg{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_sale-ticket{
    display: flex;
    width: 350px;
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 0 3px #7A7E7F;
    
}
.content_sale-ticket-cart{
    background-color: #ffb323;
    width: 82px;
    padding: 8px;
    height: 80px;
}
.content_sale-ticket-header{
    display: flex;
    justify-content: space-between;

}
.content_sale-ticket-heading{
    font-size: 1.6rem;
    font-weight: 700;

}
.content_sale-ticket-detail{
    font-size: 1.4rem;
    color: #4aa0f3;
}
.content_sale-ticket-text{
    color: #7A7E7F;
    font-size: 1.4rem;
}

.content_product-same{
    background-color: var(--white-color);
    margin-top: 15px;
    padding: 15px 0 0 15px;
    border-bottom: 1px solid #CDCFD0;;
}
.content_product-same-heading{
    font-size: 16px;
}

.content_product-same-seri{
    font-size: 1.4rem;
    margin-bottom: 14px;
    border-bottom: 1px solid #CDCFD0;
    padding-bottom: 11px;
    margin-top: 20px;

}


.content_same-sp-product{
    background-color: var(--white-color);
    
}

.content_list-same-sp-product{
  background-color: #fff;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.content_product-same-sp-item-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_product-same-sp-img{
   width: auto;
    max-height: 190px;
}

.content_product-same-sp-heading a{
    text-decoration: none;
  
    font-size: 1.4rem;
    color: #333333;
}

.content_product-same-sp-heading{
    
    padding-left: 10px;
    margin-top: 10px;
    font-weight: 100;
    line-height: 21px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 210px;
    min-height: 40px;
}

.content_product-same-sp-item{
    display: flex;
    align-items: center;
    margin: 0 10px;
    justify-content: space-between;
}

.content_product-same-sp-price-current{
    font-size: 1.8rem;
    font-weight: 600;
    color: #C92127;
}

.same-sp-money{
    height: 5rem;
    line-height: 20px;
}

.content_product-same-sp-chapter{
    margin-left: 8px;
    padding: 3px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #7A7E7F;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0px;
}

.content_product-same-sp-price-old{
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #888888;
    margin: 0 10px;
}

.content_same-sp-item-star{
    color: #e3e5e5;
    margin: 0 10px;
    font-size: 1.4rem;
}

.content_same-sp-item-text-sl{
    color: #F7941E;
}

.content_same-sp-btn-buy{
    border: 1px solid #F7941E;
    margin: 10px;
    border-radius: 18px;
    padding:10px;
    text-align: center;
}

.content_same-sp-btn-buy a{
    text-decoration: none;
    color: #F7941E;
    font-size: 1.5rem;
    font-weight: 700;
    
}

.content_product-same-sp-buyed{
    background-color: rgba(210, 33, 33, 0.4);
    color: var(--white-color);
    height: 18px;
    text-align: center;
    margin: 5px 10px 0 10px;
    border-radius: 20px;
}

.content_product-same-sp-buyed-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.4rem;
}

.content_bag-btn-more{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.content_bag-btn-more a{
  
    width: 220px;
    padding:12px 10px;
    border-radius: 20px;
    font-size: 1.4rem;
    color: #C92127;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #C92127;;
}
.slick-prev{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    color: #CCCCCC;
    border: none;
    z-index: 2;
    left: 19px;
    padding:10px 15px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #CCCCCC 

}

.slick-next{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    color: #CCCCCC;
    border: none;
    z-index: 2;
    right: 0;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #CCCCCC 


}
.slick-list {
    margin-top: 10px;
}

.content_product-introduce{
    background-color: var(--white-color);
}

.content_product-introduce-heading{
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.content_introduce-product{

}

.content_list-product-introduce{
    background-color: #fff;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 15px;
}

.content_product-introduce-item-img{
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_product-introduce-img{
    width: auto;
    max-height: 190px;
}

.content_product-introduce-item-heading a{
    text-decoration: none;
  
    font-size: 1.4rem;
    color: #333333;
}
.content_product-introduce-item-heading{
    margin: 0;
    min-height: 4rem;
    padding-top: 5px;
}

.content_product-introduce-chapter{
    color:#8a8a8a;
    background-color: #f0f0f0;
    padding: 3px;
    border-radius: 4px;
    font-size: 1.4rem;
}

.content_introduce-chapnew{
    font-size: 1.4rem;
    line-height: 23px;
}

.content_introduce-follow{
    font-size: 1.4rem;
    color: #2f86eb;
}

.content_info-daitle{
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 35px;
    padding: 15px;
    margin-top: 15px;
}

.content_info-daitle-heading{
    font-size: 20px;
}

.content_info-daitle-list{
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
}

.content_info-daitle-left{
    font-weight: 500;
    color: #777;

}

.content_info-tb-number{

}
th{
    float: left;
}

.content_info-tb-age a,
.content_info-tb-namenxb a,
.content_info-tb-in a,
.content_info-tb-hot a{
    color: #2489F4;
    text-decoration: none;
}

.content_info-tb-canhbao{
    line-height: 28px;
}



.content_info-history-text{
    display: inline-block;
    margin: 0.25rem 0;
  }
  .bg {
    -webkit-mask-image: linear-gradient(#fff,#fff);
  }
  .max-height {
    max-height: 70px;
  }
  #show-more {
    display: inline-block;
  }

  .btn-show-text{
    text-align: center;
    margin-top: 31px;
  }

  .btn-show-text button {
   border: 2px solid #C92127;
    cursor: pointer;
    background-color: var(--white-color);
    display: inline-block;
    padding: 10px 50px;
    color: #C92127;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  #show-less {
    display: none;
  }
  

  .content_evaluate{
    background-color: var(--white-color);
    margin-top: 15px;
    padding: 15px;

  }

  .content_evaluate-text{
        padding: 0 30px 8px;
        display: flex;
        margin-top: 15px;
  }

  .content_evaluate-star{
    display: flex;
    width:calc(50% - 100px);
  }

  .content_evaluate-heading{
    font-size: 16px;
    font-weight: 600;
  }

  .content_evaluate-0-5{
    
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content_evaluate-0{
    font-size: 5rem;
    font-weight: 600;

  }

  .content_evaluate-comen{
    font-size: 1.4rem;
    font-weight: 100;
  }

  .content_evaluate-5{
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: -13px;

  }

  .content_evaluate-icon-star{
    font-size: 1.2rem;
    color: #c7cccd;
  }

  .content_evaluate-review{
    font-size: 1.4rem;
    color: #646464;
  }
.content_evaluate-review-0-5{
    padding-left: 13px;
}

.content_evaluate-text-star-precent{
    width: calc(100% - 130px);
}
.evaluate-text{
    display: flex;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    line-height: 20px;
}
.evaluate-text-star{
    
}

.evaluate-rating{
    margin: 0 10px;
    width: calc(100% - 115px);
    height: 5px;
    background-color: #e6e6e6;
}
.evaluate-text-precent{

}

.content_evaluate-login{
    width: calc(50% + 100px);
    font-size: 1.4rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content_evaluate-login a{
    text-decoration: none;
    color: #2489F4;
    margin: 0 3px;
}


.content_regulations{
     display: flex;
     justify-content: space-around;
     background-color: var(--white-color);
     margin-top: 15px;
     padding: 10px 15px;
}

.content_regulations-item{
    display: flex;
    padding: 10px;
    align-items: center;
}

.content_regulations-icon{
    font-size: 2.5rem;
    margin-right: 10px;
    color: #646464;

}

.content_regulations-text{
    font-size: 1.6rem;
    font-weight: 600;
    color: #646464;
}


col{
    width: 0;
}



.footer{
    background-color: #f0f0f0;
    padding-top: 10px;
}

.footer__container{
    background-color: var(--white-color);
    padding: 40px 0 25px;
    display: flex;
}

.footer__content-1{
    border-right: 1px solid #7A7E7F;
}
.footer__content-1-list{
    padding: 0 15px;
}

.footer__content-1-text
{
    font-size: 1.3rem;
    line-height: 1.5;
 
}

.footer__img{
    width: 300px;
   
    padding: 10px 15px;
    margin: 0 0 10px;
}

.footer__content-1-text-long{
    padding: 7px 0 0;
    font-size: 1.3rem;
    line-height: 1.5;

}

.footer_img-tick{
    width: 100px;
    margin: 15px 0;
}

.footer-img-appch,
.footer-img-appst{
    width: 110px;
    margin-top: 10px;
}

.footer-img-appch{
    margin-right: 11px;
}

.footer__content-2{
    padding: 0;
}

.footer__content-2-text{
    font-size: 1.3rem;
    line-height: 35px;
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/icon-footer.png) no-repeat;
    list-style: none;
}

.footer__content-2-heading{
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: 700;
    list-style: none;
}
.footer__content-2-text:hover{
    background-position: 0px -30px;
    padding-left: 25px;
    color: #ea7696;
}

.footer__content-2-img img{
    width: 100%;

}

.footer__content-2-list{
    display: flex;
    width: 100%;
}


.footer__content-call{
    width: 100%;
}

.footer__content-call-heading{
    font-size: 16px;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer__content-call-1{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 1.4rem;
}

.footer__content-call-address{
    
}

.footer__content-call-gmail{
    
}

.footer__content-call-number{
    
}

.footer__content-logo-4{
    grid-gap: 25px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-top: 14px;
    display: flex;
    margin-left: 28px;
}
.footer__content-logo-img{
    margin: auto;
    width: 100%;
}
.footer__content-logo-img img{
    max-width: 100%;
    height: auto;
    max-height: 60px;
}

.footer__content-logo-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    height: 60px;
    margin-right: 16px;
    margin-top: 10px;
}

.footer__content-logo-img-5{
    margin: auto;
}
.footer__content-logo-img-5 img{
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

.footer__content-end-text{
    text-align: center;
    background-color: var(--white-color);
    margin: 0;
    font-size: 1.4rem;
    padding-bottom: 20px;
    color: #7A7E7F;
}

.footer__content-end-text p {
    margin: 0;
}



.header_rs-item-logo img{
    max-width: 130px;
     max-height: 30px;
     margin-top: 5px;;
 }

 .header_rs-item-logo a{
    color: white;
 }
 
 .header_rs-item-logo {
     display: none;
     align-items: center;
     justify-content: center;
 }
 
 .header_rs-icon-cart {
     font-size: 3rem;
     margin-top: 5px;
     display: none;
     color: white;
 }
 .header_rs-icon-cart a{
    color: white;
 }
 
 .header_rs-icon-user {
     font-size: 2.3rem;
     margin-top: 8px;
     margin-left: 12px;
     margin-right: 7px;
     color: white;
     display: none;
 }
 
 .header_rs-icon-menu{
     font-size: 3rem;
     margin-left: 10px;
     color: white;
     margin-bottom: 2px;
     display: none;
 }
 .header_rs-icon-menu a{
    color: white;
 }
 
 .slick-initialized .slick-slide{
    display: flex;
}



.binh-luan{
    width: 100%;
}

.nhan{
    margin: 20px 0;
}
.hien-binh-luan{
    width: 100%;
    height: auto;
    margin: 10px 0;
    border: 1px solid #9e9e9e;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    min-height: 100px;
}
.cs{
    padding: 10px 20px;
}


.header__navbar-item-user a{
    text-decoration: none;
    color: #706e6e;
}